@using Shopping.Areas.Admin.Models.Notification
@model NotificationAddViewModel
@{
    ViewData["Title"] = "NotificationSend";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}
<div class="mr-5 ml-5">
<form asp-action="NotificationSend" asp-controller="Notification" asp-Area="Admin" method="post" enctype="multipart/form-data"> 
<div class="form-group">
	<label>Basliq</label>
	<input type="text" asp-for="Title" class="form-control" />
</div>
<div class="form-group">
	<label>Metin</label>
	<input type="text" asp-for="Content" class="form-control" />
</div>
<div class="form-group">
	<label>Sekil</label>
	<input type="file" asp-for="Img" class="form-control" />
</div>
<div class="form-group">
	<label>Member id</label>
	<input type="text" asp-for="MemberId" class="form-control" />
</div>
<div class="form-group">
	<button class="btn btn-outline-primary">Gonder</button>
</div>
</form>
</div>




