
            <div class="LayoutCatalogAll">
               <form asp-action="Search" asp-controller="Home" method="get" class="LayoutCatalogform">
              <button class="LayoutCatalogBtn"><img src="~/Shopping/LayoutCatalogImg/Electronica.png" alt="img" class="LayoutCatalogImg" draggable="false"> <p class="LayoutCatalogName">Elektronika</p></button>
            <input type="hidden" name="Catalog" value="Elektronika" />
          </form>
            <form asp-action="Search" asp-controller="Home" method="get" class="LayoutCatalogform">
              <button class="LayoutCatalogBtn"><img src="~/Shopping/LayoutCatalogImg/RealEstate.png" alt="img" class="LayoutCatalogImg" draggable="false"> <p class="LayoutCatalogName">Daşınmaz Əmlak</p></button>
            <input type="hidden" name="Catalog" value="Daşınmaz-Əmlakt" />
          </form>
            <form asp-action="Search" asp-controller="Home" method="get" class="LayoutCatalogform">
              <button class="LayoutCatalogBtn"><img src="~/Shopping/LayoutCatalogImg/Transportation.png" alt="img" class="LayoutCatalogImg" draggable="false"> <p class="LayoutCatalogName">Nəqliyyat</p></button>
              <input type="hidden" name="Catalog" value="Nəqliyyat" />
          </form>
            <form asp-action="Search" asp-controller="Home" method="get" class="LayoutCatalogform">
              <button class="LayoutCatalogBtn"><img src="~/Shopping/LayoutCatalogImg/Household.png" alt="img" class="LayoutCatalogImg" draggable="false"> <p class="LayoutCatalogName">Ev və Bağ üçün</p></button>
            <input type="hidden" name="Catalog" value="Ev və Bağ üçün" />
          </form>
            <form asp-action="Search" asp-controller="Home" method="get" class="LayoutCatalogform">
              <button class="LayoutCatalogBtn"><img src="~/Shopping/LayoutCatalogImg/BusinessServices.png" alt="img" class="LayoutCatalogImg" draggable="false"> <p class="LayoutCatalogName">Biznes və Xidmətlər</p></button>
                      <input type="hidden" name="Catalog" value="Biznes və Xidmətlər" /> 
          </form>
            <form asp-action="Search" asp-controller="Home" method="get" class="LayoutCatalogform">
              <button class="LayoutCatalogBtn"><img src="~/Shopping/LayoutCatalogImg/Itemofclothing.png" alt="img" class="LayoutCatalogImg" draggable="false"> <p class="LayoutCatalogName">Şəxsi Əşyalar</p></button>
                      <input type="hidden" name="Catalog" value="Şəxsi Əşyalar" />
          </form>
            <form asp-action="Search" asp-controller="Home" method="get" class="LayoutCatalogform">
              <button class="LayoutCatalogBtn"><img src="~/Shopping/LayoutCatalogImg/Children'sWorld.png" alt="img" class="LayoutCatalogImg" draggable="false"> <p class="LayoutCatalogName">Uşaq Aləmi</p></button>
                       <input type="hidden" name="Catalog" value="Uşaq Aləmi" />
          </form>
            <form asp-action="Search" asp-controller="Home" method="get" class="LayoutCatalogform">
              <button class="LayoutCatalogBtn"><img src="~/Shopping/LayoutCatalogImg/Hobby.png" alt="img" class="LayoutCatalogImg" draggable="false"> <p class="LayoutCatalogName">Hobbi Asudə</p></button>
                     <input type="hidden" name="Catalog" value="Hobbi və Asudə" />
          </form>
            <form asp-action="Search" asp-controller="Home" method="get" class="LayoutCatalogform">
              <button class="LayoutCatalogBtn"><img src="~/Shopping/LayoutCatalogImg/Animals.png" alt="img" class="LayoutCatalogImg" draggable="false"> <p class="LayoutCatalogName">Heyvanlar Yemlər</p></button>
                      <input type="hidden" name="Catalog" value="Heyvanlar və Yemləri" />
          </form>
            <form asp-action="Search" asp-controller="Home" method="get" class="LayoutCatalogform">
              <button class="LayoutCatalogBtn"><img src="~/Shopping/LayoutCatalogImg/iselan.png" alt="img" class="LayoutCatalogImg" draggable="false"> <p class="LayoutCatalogName">İş Elanlar</p></button>
                      <input type="hidden" name="Catalog" value="İş Elanları" />
          </form>
              <a href="/Shop/Shops/"><button class="LayoutCatalogBtn"><img src="~/Shopping/LayoutCatalogImg/Shop.png" alt="img" class="LayoutCatalogImg" draggable="false"> <p class="LayoutCatalogName">Mağaza</p></button></a> 
        
          </div>
         