@model AppUser 



          

            <div class="MemberSignInImg">
        <img class="MemberImg" src="~/Shopping/MemberImg/@Model.ImageUrl" alt="">
        <span class="MemberName">@Model.Name 
            @if(Model.confirmed == "Təsdiqləndi")
        {
          <i class="fa fa-check-circle ConfirmedTopbar"></i>
            <span class="TooltipTopbar">Təsdiqləndi</span>  
        }
            
        </span>
       </div>