
@{
    ViewData["Title"] = "MemberUser";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>MemberUser</h1>



<table>
	<tr>
		<th>@Model.Id</th>
		<th>@Model.Name</th>
	</tr>
</table>