@model ProductComplaint

<label class="form-control"></label>
<label class="form-control"></label>
<label class="form-control"></label>
<label class="form-control"></label>
<label class="form-control"></label>